/* General Reset and Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    transition: all 500ms;
    overflow: hidden;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

/* Container to center the content */
.container {
    text-align: center;
    width: 90%;
    max-width: 1200px;
}

/* Server Status Container */
.status-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Server Status Box Styling */
.server-status {
    background-color: #fff;
    border-radius: 12px;
    padding: 25px;
    width: 270px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease, box-shadow 0.3s ease;
}

.server-status:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.server-status h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
    transition: all 500ms;
}

.server-status p {
    font-size: 1rem;
    margin-bottom: 10px;
    transition: all 500ms;
}

/* Status Indicator Styling */
.server-status span {
    font-weight: 600;
    font-size: 1.1rem;
}

/* Colors for Status */
.online {
    color: #28a745;
    /* Green */
}

.offline {
    color: #dc3545;
    /* Red */
}

footer {
    margin-top: 30px;
    font-size: 1rem;
    color: #666;
    transition: all 500ms;
}

footer p {
    margin: 0;
}


/* Sun/Moon animation */


#center,
#mask-rays,
#mask-center {
    transform-origin: center;
    transition: all 500ms ease-out;
    cursor: pointer;
    border: none;
}
#center {
    fill: #000;
    transform: rotate(-35deg);
}
#rays {
    stroke: #000;
    stroke-width: 2px;
}

#sunmoon.dark #center {
    transform: rotate(-35deg) scale(2);
    fill: white;
}
#sunmoon.dark #mask-rays {
    transform: scale(0.5);
}
#sunmoon.dark #mask-center {
    transform: translateX(-18px);
}

.theme-button {
    position: absolute;
    right: 10px;
    top: 10px;
}

body.dark {
    background-color: #1f1e1e;
}

.server-status h2.dark {
    color: #cccaca;
}

h1.dark {
    color: #cccaca;
}

footer.dark {
    color: #838282;
}

.server-status.dark {
    background-color: rgb(49, 49, 49);
}
.server-status p.dark {
    color: #cccaca;
}
